#my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
  .grid-y.grid-padding-x(style='height: 100%;')
    br
    .cell.shrink
      img.thumbnail(src='https://placehold.it/550x350')
    .cell.auto
      h5 Josh Sullivan
      p.text-light
        | Lorem ipsum dolor amet in ad trust fund dolore pickled. Godard taiyaki bitters chartreuse artisan sriracha. Synth
        | minim flannel godard small batch, woke craft beer af kogi sriracha. Cornhole portland esse YOLO fixie.
      a(href='about.html') Learn More →