#my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
  .grid-y.grid-padding-x(style='height: 100%;')
    br
    .cell.shrink
      img.thumbnail(src=`../../public/images/profile.png`)
    .cell.auto
      
      h5 Kaitlyn Dodds
      
      p.text-light
        | A motivated individual eager to contribute to the success of a team and build cutting edge solutions to difficult problems. An application developer with a strong interest in secure development practices. An enthusiastic developer striving to making impactful changes in the work that she does.
      
      a(href='/about') Learn More →