extends layout.pug

block main
    .off-canvas-content(data-off-canvas-content='')
        include partials/title-bar.pug
        
        include partials/back-bar.pug
        
        article.grid-container.portfolio-intro.portfolio-project
            .grid-x
                .cell.small-6.medium-9.large-9
                    
                    h1 Kaitlyn Dodds
                    
                    p.lead.text-light
                        | Full Stack Developer
                    
                    .portfolio-bio
                        p
                           | A motivated individual eager to contribute to the success of a team and build cutting edge solutions to difficult problems. An application developer with a strong interest in secure development practices. An enthusiastic developer striving to making impactful changes in the work that she does.

                .cell.portfolio-meta.small-6.medium-2.large-3
                   
                    h6 Skills
                    ul
                        li JavaScript
                        li jQuery
                        li Node
                        li ExpressJS
                        li MongoDB
                        li Bootstrap
                        li Semantic UI
                        li Git 
                        li Microsoft Azure 
                        li Amazon Web Services 
                        li HTML
                        li CSS
                        li PowerShell
                        li Python
                        li C#
                        li Java

                    h6 Contact Info
                    ul
                        li 814-574-7018
                        li kadodds.dev@kadodds.com 

                    a.button.expanded(href='https://www.linkedin.com/in/kaitlyndodds/') LinkedIn
                    a.button.expanded(href='https://github.com/KaitlynDodds') GitHub
