extends layout.pug 

block main 
    .off-canvas-content(data-off-canvas-content='')
        include partials/title-bar.pug
        
        article.grid-container.portfolio-intro
            div
            
            h1 Welcome to my TechDegree Portfolio!
            
            p.lead.text-light
                | Welcome to my portfolio. This site exhibits some of the projects I have completed in recent months. 
        
        article.grid-container.portfolio-index
            .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
                
                for project in projects 
                    .cell    
                        a(href=`/project/${project.id}`)
                            
                            if (project.image_urls[0])
                                img.thumbnail(src=`../public/images/${project.image_urls[0]}`)
                            
                            else 
                                img.thumbnail(src='https://placehold.it/550x550')
                            
                            h5 #{project.project_name}